.repository {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  height: 422.88px;
  min-height: 422.88px;
  max-height: 422.88px;
  margin: 20px;

  .custom-text {
    display: block;
    margin-top: 5px;
    height: 115px;
    min-height: 115px;
    max-height: 115px;
    text-align: justify;
  }

  .btn-ver-proyecto {
    position: absolute;
    bottom: 20px;
  }
}
