<mdb-card class="col-11 col-sm-9 col-md-8 col-xl-7 p-0 mx-auto">
    <mdb-card-body class="card-body-fix">
        <div>
            <h4 class="subtitle">Soy <b>Alejandro Leal Bermúdez.</b></h4>

            <p class="card-text"><b>Comencé en el mundo del desarrollo web en el año 2012</b>, en ese entonces me surgió la curiosidad de como crear un clon de un
            videojuego de navegador, encontré un foro de desarrollo que hablaba del tema y empecé a participar en el, aprendí muchas cosas:
            HTML, CSS, JavaScript, PHP, C# e incluso un poco de diseño, en ese entonces <b>cursaba 2º de la ESO</b> y hacía todo esto en mis ratos libres.</p>

            <p class="card-text">Tras casi acabar la ESO me hablaron del grado medio, entonces lo decidí, no haría bachillerato, sabía que no soportaría seguir 
            estudiando algo que no me gustaba, no quería amargarme más de lo que ya estaba. Además que <b>siempre he tenido una gran pasión por el mundo del hardware.</b></p>

            <p class="card-text">Tras acabar el <b>grado medio de Sistemas microinformáticos y redes (SMR),</b> empecé el <b>grado superior de desarrollo de aplicaciones web (DAW),</b>
            aprendí a usar Laravel entre otras cosa <b>(JavaScript, PHP, SQL, Java, SASS, Angular 7, IONIC 4 y Bootstrap 4)</b>, pulí mi forma de escribir código y comencé a trabajar 
            en la empresa en la que hice las prácicas. En ella aprendí más sobre Laravel y <b>Vue.js</b>, además de otras tecnologías como <b>React Native y TailwindCSS.</b>
            </p>

            <p class="card-text">A día de hoy sigo trabajando en la empresa en la que hice las prácticas de DAW y en mis ratos libres desarrollo mis propios proyectos.</p>
        </div>
    </mdb-card-body>
</mdb-card>