<mdb-card class="col-11 col-sm-9 col-md-8 col-xl-7 p-0 mx-auto info">
    <mdb-card-body>
        <mdb-card-title>
            <h4>Información</h4>
        </mdb-card-title>
        <div>
            <p class="card-text">Comencé en el mundo del desarrollo web en el año 2012, durante ese año cursaba 2º de la ESO, todo por curiosidad de como funcionaba un juego popular
            de ese entonces que se jugaba en el navegador.</p>

            <p class="card-text">Tras un tiempo creando complementos para clones de este juego, decidí crear mis propias páginas web, gracias a esto aprendí cosas básicas de
            JQuery, CSS, HTML y PHP.</p>

            <p class="card-text">Aún me acuerdo cuando usaba Adobe Dreamweaver, tras mucho tiempo usando este editor (2012 - 2014), terminé la ESO y entré a un grado medio,
            concretamente una llamado "Sistemas Microinformáticos y Redes", durante el primer trimestre del primer año nos enseñaron HTML y CSS, gracias
            a eso pulí lo que ya sabía, además empecé ha usar sublime text 3, me enamoré de ese editor, era rápido y tenía toda clase plugins (además de
            opción de multicursor para editar varias líneas a la vez).</p>

            <p class="card-text">En lo que restaba de año no enseñaron nada más sobre desarrollo web, en el segundo año nos enseñaron los fundamentos de la programación, usando
            PHP, no aprendí nada nuevo, al igual que en el primer año, pulí lo que ya sabía y empecé a usar Atom como editor de código predeterminado.</p>

            <p class="card-text">Los últimos meses de clases me informaron de que había un grado superior de "Desarrollo de aplicaciones web", entonces decidí ir a aprender más
            sobre este mundillo, aunque no puso ser así, almenos ese año, gracias a una profesora que decidió suspenderme por tener un 4.9 en su asignatura,
            la asignatura que no tenía nada que ver con informática, la querida "Empresa e iniciativa emprendedora", al final en la recuperación aprobé y al siguiente
            año tocaba empezar las prácticas en empresa.</p>

            <p class="card-text">Las prácticas las realicé en un colegio, me dedicaba a arreglar los ordenadores de allí, terminaba todo muy rápido, así que les
            propuse cambiar su página web, ya que estaba muy anticuada (usaban adobe flash). Ellos aceptaron y yo encantado de la vida, hice la web, todos contentos.</p>

            <p class="card-text">Los días pasaron y llegó el fin de las prácticas, la web fué publicada a la semana y entonces como agradecimiento me regalaron una raspberry pi 3 b+ (a día 
            de hoy sigo jugueteando con ella). Tenía meses sin hacer nada hasta el curso que viene, así que empecé a mirar temario del grado superior.</p>

            <p class="card-text">Durante el primer año del grado superior conocí a mucha gente, a día de hoy sigo en contacto con ellos, aprendí de todo, base de datos, java, etc.
            Además me dió por usar Visual Studio Code, ya que Atom no me llegó a convencer.</p>

            <p class="card-text">Lo interesante llegó en segundo, imaginaos aprender JavaScript por vuestra cuenta, ya que el profesor se dedicaba a enviar tareas random y
            libros en formato PDF que repetian lo mismo una y otra vez. De pronto, en el segundo trimestre le dió por "enseñar" a como usar Angular e Ionic. Quitando esos
            momentos aprendí muchas cosas: PHP orientado a objetos, Laravel, Bootstrap 4, JQuery, SASS/SCSS, etc.</p>

            <p class="card-text">Durante las prácticas de empresa aprendí más sobre Laravel, me inicié en Vue.js y descubrí React Native. Terminé y presenté el proyecto
            integrado, tras eso la empresa en la que realicé las prácticas me contrató.</p>

            <p class="card-text">Eso es todo, almenos por ahora, tras salir del curro me dedico a jugar videojuegos, leer, ver series, programar y diseñar, es lo que tiene
            convertir tu hobby en tu trabajo, no paras de aprender, sea en la empresa o en casa, por último quiero dejar mis redes sociales, las tienes el footer de esta
            página web, además de mi canal de youtube, donde voy subiendo diarios de desarrollo y algún que otro tutorial.</p>
        </div>
    </mdb-card-body>
</mdb-card>