<mdb-card class="col-11 col-sm-9 col-md-8 col-xl-7 p-0 mx-auto info">
    <mdb-card-body>
        <div>
            <p class="card-text">Soy <b>Alejandro Leal</b>, tras interesarme en el mundo del desarrollo web me puse a investigar, con el tiempo se convirtió en
            un hobby y con el paso del tiempo en mi trabajo.</p>

            <h5 class="subtitle">El comienzo...</h5>

            <p class="card-text"><b>Comencé en el mundo del desarrollo web en el año 2012</b>, en ese entonces me surgió la curiosidad de como crear un clon de un
            videojuego que se jugaba en el navegador, encontré un foro de desarrollo que hablaba del tema y empecé a participar en el, aprendí muchas cosas:
            HTML, CSS, JavaScript, PHP, C# e incluso un poco de diseño, en ese entonces <b>cursaba 2º de la ESO</b> y hacía todo esto en mis ratos libres.</p>

            <p class="card-text">En ese entonces usaba Adobe Dreamweaver (2012 - 2014), tras llegar a 4º de la ESO me hablaron del grado medio, entonces lo decidí,
            no haría bachillerato, me percaté de que no podría seguir estudiando algo que no me gustaba, no quería amargarme más de lo que ya estaba, sabía desde hace
            tiempo de lo que quería trabajar.</p>

            <h5 class="subtitle">El primer paso y el primer tropiezo...</h5>

            <p class="card-text">Terminé la ESO y entré al grado medio, concretamente el de <b>"Sistemas Microinformáticos y Redes"</b>, aunque no era de programación me daba un poco de igual, 
            ya que el hardware también me apasionaba, durante el 1º trimestre del primer año nos enseñaron HTML y CSS, no era parte del curso, pero al profesor el apeteció enseñar eso,
            gracias él pulí lo que ya sabía, además empecé ha usar sublime text 3, me enamoré de ese editor, era rápido y tenía toda clase plugins (además de opción de multicursor para 
            editar varias líneas a la vez).</p>

            <p class="card-text">En lo que restaba de año no enseñaron nada más sobre desarrollo web pero, en el 2º año nos enseñaron los fundamentos de la programación, usando
            PHP y JavaScript, no aprendí nada nuevo, al igual que en el 1º año, <b>pulí lo que ya sabía</b> y empecé a usar Atom como editor de código predeterminado. En cuanto a las
            asignaturas restantes eran aburridas, 1º me pareció más interesante.</p>

            <p class="card-text">Los últimos meses de clases me informaron de que había un grado superior de <b>"Desarrollo de aplicaciones web"</b>, entonces decidí ir a aprender más
            sobre este mundillo, aunque no puso ser así, almenos ese año, gracias a una profesora que decidió suspenderme por tener un 4.9 en su asignatura,
            la asignatura que no tenía nada que ver con informática, la querida "Empresa e iniciativa emprendedora", al final en la recuperación aprobé y al siguiente
            año tocaba empezar las prácticas en empresa.</p>

            <h5 class="subtitle">Mi primer proyecto...</h5>

            <p class="card-text">Las prácticas las realicé en un colegio, me dedicaba a arreglar los ordenadores de allí, terminaba todo muy rápido, así que les
            <b>propuse cambiar su página web</b>, ya que estaba muy anticuada (usaban adobe flash). Ellos aceptaron y yo encantado de la vida, hice la web, a día de
            hoy no estoy contento con la web, ya que los profesores del colegio <b>me limitaron a la hora de diseñar la web</b> y mi código en esos tiempos no era muy bueno.</p>

            <p class="card-text">Los días pasaron y llegó el fin de las prácticas, <b>la web fué publicada</b> al tiempo y entonces como agradecimiento me regalaron una raspberry pi 3 b+ (a día 
            de hoy sigo jugueteando con ella). Tenía meses sin hacer nada hasta el curso que viene, así que empecé a mirar temario del grado superior.</p>

            <h5 class="subtitle">El grado superior...</h5>

            <p class="card-text">Durante el primer año del grado superior conocí a mucha gente, a día de hoy sigo en contacto con ellos, aprendí de todo: <b>base de datos, java, HTML5, CSS3, entre
            otras cosas</b>, esto además de proporcionarme nuevos conocimientos me ayudaron a actualizarme, ya que CSS y HTML mejoraron. Además me dió por usar Visual Studio Code, ya que 
            Atom no me llegó a convencer.</p>

            <p class="card-text">Lo interesante llegó en segundo, imaginaos aprender <b>JavaScript</b> por vuestra cuenta (ya sabía algo, pero era más usando JQuery), ya que el profesor se 
            dedicaba a enviar tareas random y libros en formato PDF que repetian lo mismo una y otra vez. De pronto, en el segundo trimestre le dió por "enseñar" a como usar Angular e 
            Ionic. Quitando esos momentos aprendí muchas cosas: <b>PHP orientado a objetos, Laravel, Bootstrap 4, JQuery (de forma más profunda), SASS/SCSS, etc.</b></p>

            <p class="card-text">Durante las prácticas de empresa <b>aprendí más sobre Laravel, me inicié en Vue.js y descubrí React Native.</b> Terminé y presenté el proyecto
            integrado, tras eso <b>la empresa en la que realicé las prácticas me contrató.</b></p>

            <h5 class="subtitle">Y por ahora eso es todo...</h5>

            <p class="card-text">Eso es todo, almenos por ahora, <b>sigo trabajando en la empresa</b> que me contrató, tras salir del curro me dedico a jugar videojuegos, leer, ver series, 
            programar y diseñar, <b>es lo que tiene convertir tu hobby en tu trabajo</b>, no paras de aprender, sea en la empresa o en casa.</p>
            
            <p class="card-text">Por último quiero dejar mis redes sociales, mi canal de youtube y mi perfil de github, donde encontrarás mis proyectos personales y un poco más de
            información sobre mi.</p>
        </div>
    </mdb-card-body>
</mdb-card>