<footer class="page-footer font-small special-color-dark pt-4 mt-5">
    <div class="container">
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item mx-2">
                <a target="_blank" class="btn-floating btn-fb mx-1" mdbWavesEffect href="https://www.facebook.com/AstroCorpESP/">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li class="list-inline-item mx-2">
                <a target="_blank" class="btn-floating btn-tw mx-1" mdbWavesEffect href="https://twitter.com/astro_corp">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li class="list-inline-item mx-2">
                <a target="_blank" class="btn-floating btn-git mx-1" mdbWavesEffect href="https://github.com/AstroCorp">
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li class="list-inline-item mx-2">
                <a target="_blank" class="btn-floating btn-twitch mx-1" mdbWavesEffect href="https://www.twitch.tv/astro_corp">
                    <i class="fab fa-twitch"></i>
                </a>
            </li>
            <li class="list-inline-item mx-2">
                <a target="_blank" class="btn-floating btn-yt mx-1" mdbWavesEffect href="https://www.youtube.com/c/AstroCorpESP">
                    <i class="fab fa-youtube"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-copyright text-center py-3">© 2019 Copyright Astro_Corp. Todos los derechos reservados.</div>
</footer>